@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  h2 {
    @apply select-none text-2xl font-semibold;
  }

  h3 {
    @apply select-none text-lg font-semibold;
  }

  a {
    color: theme('colors.light-text');
  }

  a:hover {
    color: theme('colors.light-second');
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: theme('colors.light-bg');
    cursor: pointer;
    transition: border-color 0.25s;
    transform: scale(1);
    transition: transform ease-in-out .3s;
  }

  button:hover {
    transform: scale(1.05);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: theme('colors.dark-text');
  }

  a:hover {
    color: theme('colors.dark-second');
  }

  button {
    color: theme('colors.dark-bg');
  }
}